:root {
    --gray-0:#f9f9fa;
    --gray-1:#eceeef;
    --gray-2:#eceeef;
    --gray-3:#cfd3d7;
    --gray-4:#bfc5c9;
    --gray-5:#adb4b9;
    --gray-6:#98a1a8;
    --gray-7:#98a1a8;
    --gray-8:#606e79;
    --gray-9:#454e55;

    --porsche: rgba(229,162,106,1);
    --armadillo: rgba(69,69,60,1);
    --lima: rgba(108,212,37,1);
    --corn-field: rgba(250,250,205,1);
    --picton-blue: rgba(47,196,247,1);
    --sulu: rgba(156,234,100,1);
    --sepia-skin: rgba(151,96,66,1);
    --asparagus: rgba(132,149,93,1);
    --wedgewood: rgba(68,136,152,1);

}

.post-card {
    padding: 1rem;
    margin: auto;
}

.card-wrapper {
    margin: 4rem;
}

body{
    background-color: white;
}

.main-header{
    padding-top: 2rem;
    /* padding-bottom: 2rem; */
}

.nav {
    background-color: var(--lima);
    
}

.nav-link-bruh {
    color: white;
    text-decoration: none;
    padding: .5rem;
}

.logout-btn{
    background-color: var(--lima);
    border: none;
    float: right;
}

.logout-btn:hover {
    background-color: var(--lima);
}

.jumbotron{
    background-color: black;
    position: relative; 
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron::before {
    content: "";
    background-image: url('./images/jumbo-bg.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

.jumbo-text {
   color: white ;
   position: relative;  
   font-size: 2rem;
   line-height: 0.9;
   text-align: center;
}

.i {
    font-size: 2.5rem;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
}

.how-it-works-body{
    background-color: var(--gray-1);
    padding-bottom: 6rem;
}

.how-it-works{
    padding: 3rem;
}

.instruction-icons{
    text-align: center;
    font-size: 8rem;
    padding-bottom: 2rem;
}

.instruction{
    color: white;
    background-color: white;
    /* border: solid greenyellow; */
    margin-left: 2rem;
    margin-right: 2rem;
}

.instruction-title{
    padding-top: 2rem;
}

.instruction-text{
    color: black;
    margin: 1rem;
    padding-bottom: 1rem;
}

.instruction-header1{
    background-color: var(--porsche);
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

.instruction-header2{
    background-color: var(--lima);
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

.instruction-header3{
    background-color: var(--picton-blue);
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

.testimonials-h {
    text-align: center;
    padding: 3rem;
}

.carousel-section {
    padding-bottom: 6rem;
}

.carousel-wrapper{
    margin: auto;
    max-width: 50%;
}

.carousel-text{
    padding-bottom: 7rem;
}

.header-icons{
    margin-top: 2rem;
}

.icons {    
    text-align: end;
}

.footer {
    width: 100%;
    background-color: var(--gray-7);
    color: white;
    padding: 2rem;
    
}

.footer-col{
    max-width: 50%;
    margin: auto
}

.copyright{
    width: 100%;
    color: white;
    padding: 1.5rem;
    background-color: var(--gray-8);
    text-align: center;
}