:root {
    --gray-0:#f9f9fa;
    --gray-1:#eceeef;
    --gray-2:#eceeef;
    --gray-3:#cfd3d7;
    --gray-4:#bfc5c9;
    --gray-5:#adb4b9;
    --gray-6:#98a1a8;
    --gray-7:#98a1a8;
    --gray-8:#606e79;
    --gray-9:#454e55;

}

.main-header{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.profile-container{
    padding-top: 3rem;
    border: solid green;
}